/* Slider */
.slick-slider
{
    position: relative;
    overflow: hidden;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    /*max-width: none;*/
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slick Theme Color */

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("fontawesome-free/webfonts/fa-solid-900.eot");
    src: url("fontawesome-free/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fontawesome-free/webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("fontawesome-free/webfonts/fa-solid-900.ttf") format("truetype"), url("fontawesome-free/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 100px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: #000;
    border: none;
    outline: none;
    background: #eee;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: white;
    outline: none;
    background: #2eb485;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font: normal normal normal 14px/1 'Font Awesome 5 Free';
    font-size: 25px;
    line-height: 1;
    color: white;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev{
    left: 5px;
    width: 50px;
    height: 50px;
    z-index: 250;
}
[dir='rtl'] .slick-prev
{
    right: 15px;
    left: auto;
}
.slick-prev:before
{
    content: '\f104';
    font-weight: 900;
}
[dir='rtl'] .slick-prev:before
{
    content: '\f104';
    font-weight: 900;
}

.slick-next{
    right: 5px;
    width: 50px;
    height: 50px;
    z-index: 250;
}


[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
    content: '\f105';
    font-weight: 900;
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
    content: '\f105';
    font-weight: 900;
}
