.section{

    &__services-provided{
        padding: 12rem 6rem;
    }

    &__products-traded{
        padding: 2rem 4rem;
    }

    &__featured-products{
        padding: 6rem 4rem;
    }

    &__about-us, &__gallery{
        padding: 6rem;
    }

    &__about-us__img{
        img{
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    &__gallery{
        padding: 6rem 2rem;

        &-photos{
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
            height: 350px;

            @include customScrollbar;

            [class ^= "photo"]{
                margin-right: 1rem;
                border-radius: 10px;
                flex: 0 0 100vw;
                height: 100%;
                background-color: $color-primary;

                &:not(:last-child){
                    margin-right: 10px;
                }

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__videos{
        padding: 6rem 2rem;


        &__container{
            display: flex;
            overflow-x: scroll;

            @include customScrollbar;

            & > *{
                flex: 0 0 570px;

                & video{
                    width: 100%;
                }

                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }

    &__customer-stories{
        padding: 8rem 6rem;
        background-color: $color-primary-dark;

        &__container{
            display: flex;
            text-align: center;

            & > * {
                flex: 0 0 33%;

                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }

    &__contact-us{
        padding: 8rem 3rem;

        &__container{
            display: flex;

            @include respond(med-phone){
                flex-direction: column;
            }

            & > *{
                flex: 0 0 49%;

                @include respond(med-phone){
                    flex: 0 0 auto;
                }

                &:not(:last-child){
                    margin-right: 20px;

                    @include respond(tab-port){
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &__form{
        padding: 6rem 8.3rem;

        #contact-form{
            width: 80%;
            margin: 0 auto;

            @include respond(b-610){
                width: 90%;
            }
        }

    }
}