.product-category{

    &-box{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        figure{

            img{
                display: block;
                width: 100%;
                height: 200px;
            }

            figcaption{
                text-align: center;
                font-size: 2rem;
                text-transform: capitalize;

                @include respond(small-phone){
                    font-size: 2.5rem;
                }
            }
        }

    }
}