@keyframes spread {
    0%{
        width: 0%;
    }

    50%{
        width: 50%;
    }

    80%{
        width: 80%; 
    }

    100%{
        width: 100%;
    }
}

@keyframes drop {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    50%{
        transform: translateY(-50%);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }

    50%{
        opacity: 0.5;
        transform: translateY(-20px);
    }
    80%{
        opacity: 0.8;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}